In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
adas_adni_df = pd.read_csv('Data\ADAS_ADNI1_31Jan2024.csv')
adas_adnigo_df = pd.read_csv('Data\ADAS_ADNIGO23_31Jan2024.csv')
adas_scores_df = pd.read_csv('Data\ADASSCORES_31Jan2024.csv')
# adni_cb_results_df = pd.read_csv('Data\ADNI_CBBRESULTS_31Jan2024.csv')
# adni_embic_dcb_df = pd.read_csv('Data\ADNI_EMBICDCB_31Jan2024.csv')
adsxlist_df = pd.read_csv('Data\ADSXLIST_31Jan2024.csv')
bl_change_df = pd.read_csv('Data\BLCHANGE_31Jan2024.csv')
cbbcomp_df = pd.read_csv('Data\CBBCOMP_31Jan2024.csv')
cci_df = pd.read_csv('Data\CCI_31Jan2024.csv')
cdr_df = pd.read_csv('Data\CDR_31Jan2024.csv')
dxsum_pdxconv_df = pd.read_csv('Data\DXSUM_PDXCONV_ADNIALL_31Jan2024.csv')
eco_gpt_df = pd.read_csv('Data\ECOGPT_31Jan2024.csv')
eco_gsp_df = pd.read_csv('Data\ECOGSP_31Jan2024.csv')
# embic_qcp_df = pd.read_csv('Data\EMBICqCP_31Jan2024.csv')
fci_df = pd.read_csv('Data\FCI_31Jan2024.csv')
gd_scale_df = pd.read_csv('Data\GDSCALE_31Jan2024.csv')
# item_df = pd.read_csv('Data\ITEM.csv')
mmse_df = pd.read_csv('Data\MMSE_31Jan2024.csv')
moca_df = pd.read_csv('Data\MOCA_31Jan2024.csv')
modhach_df = pd.read_csv('Data\MODHACH_31Jan2024.csv')

# these all have a problem with an invalid escape character
# neurobat_df = pd.read_csv('Data\NEUROBAT_31Jan2024.csv')
# npi_df = pd.read_csv('Data\NPI_31Jan2024.csv')
# npiq_df = pd.read_csv('Data\NPIQ_31Jan2024.csv')
# uwn_psych_sum_df = pd.read_csv('Data\UWNPSYCHSUM_31Jan2024.csv')

In [5]:
adas_adni_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3873 entries, 0 to 3872
Data columns (total 85 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Phase         3873 non-null   object
 1   ID            3873 non-null   int64
 2   PTID          3873 non-null   object
 3   RID           3873 non-null   int64
 4   SITEID        3873 non-null   int64
 5   VISCODE       3873 non-null   object
 6   USERDATE      3873 non-null   object
 7   USERDATE2     172 non-null    object
 8   EXAMDATE      3873 non-null   object
 9   COT1LIST      3873 non-null   object
 10  COT2LIST      3873 non-null   object
 11  COT3LIST      3873 non-null   object
 12  COT1SCOR      3873 non-null   int64
 13  COT2SCOR      3873 non-null   int64
 14  COT3SCOR      3873 non-null   int64
 15  COP1COMP      3873 non-null   int64
 16  COCOMND       3873 non-null   object
 17  COP2COMP      3873 non-null   int64
 18  COCONSTR      3873 non-null   object
 19  COP3COMP      3873 non-null   int64
 20  COT4LIST      3873 non-null   object
 21  COT4TOTL      3873 non-null   int64
 22  COP4COMP      3873 non-null   int64
 23  CONAME        3873 non-null   object
 24  COP5COMP      3873 non-null   int64
 25  COIDEA        3873 non-null   object
 26  COP6COMP      3873 non-null   int64
 27  COORIEN       3873 non-null   object
 28  COP7COMP      3873 non-null   int64
 29  CO8NURSE      3873 non-null   int64
 30  CO8MAGAZ      3873 non-null   int64
 31  CO8WIZRD      3873 non-null   int64
 32  CO8WIZRR      3873 non-null   int64
 33  CO8VAN        3873 non-null   int64
 34  CO8VANR       3873 non-null   int64
 35  CO8LEPRD      3873 non-null   int64
 36  CO8LEPRR      3873 non-null   int64
 37  CO8SALE       3873 non-null   int64
 38  CO8SALER      3873 non-null   int64
 39  CO8SEA        3873 non-null   int64
 40  CO8SEAR       3873 non-null   int64
 41  CO8TRAIN      3873 non-null   int64
 42  CO8TRAIR      3873 non-null   int64
 43  CO8COIN       3873 non-null   int64
 44  CO8COINR      3873 non-null   int64
 45  CO8SHIP       3873 non-null   int64
 46  CO8SHIPR      3873 non-null   int64
 47  CO8INST       3873 non-null   int64
 48  CO8INSTR      3873 non-null   int64
 49  CO8MAP        3873 non-null   int64
 50  CO8MAPR       3873 non-null   int64
 51  CO8AXE        3873 non-null   int64
 52  CO8AXER       3873 non-null   int64
 53  CO8BOARD      3873 non-null   int64
 54  CO8BOARR      3873 non-null   int64
 55  CO8CARRT      3873 non-null   int64
 56  CO8CARRR      3873 non-null   int64
 57  CO8MILK       3873 non-null   int64
 58  CO8MILKR      3873 non-null   int64
 59  CO8VOL        3873 non-null   int64
 60  CO8VOLR       3873 non-null   int64
 61  CO8FORST      3873 non-null   int64
 62  CO8FORSR      3873 non-null   int64
 63  CO8ANCHR      3873 non-null   int64
 64  CO8ANCRR      3873 non-null   int64
 65  CO8GEM        3873 non-null   int64
 66  CO8GEMR       3873 non-null   int64
 67  CO8CAT        3873 non-null   int64
 68  CO8CATR       3873 non-null   int64
 69  CO8FUND       3873 non-null   int64
 70  CO8FUNDR      3873 non-null   int64
 71  CO8EDGE       3873 non-null   int64
 72  CO8EDGER      3873 non-null   int64
 73  CO8CAKE       3873 non-null   int64
 74  CO8CAKER      3873 non-null   int64
 75  COP8COMP      3873 non-null   int64
 76  COINSTRC      3873 non-null   int64
 77  COCOMPRE      3873 non-null   int64
 78  COWRDFND      3873 non-null   int64
 79  COLANG        3873 non-null   int64
 80  CONMCXLA      3873 non-null   int64
 81  CONMCXLB      3873 non-null   int64
 82  CONMCXLC      3873 non-null   int64
 83  COP14CMP      3873 non-null   int64
 84  update_stamp  3873 non-null   object
dtypes: int64(69), object(16)
memory usage: 2.5+ MB

In [7]:
adas_adnigo_df.head()

,Phase,ID,PTID,RID,SITEID,VISCODE,VISCODE2,VISDATE,USERDATE,USERDATE2,...,TOTSCORE,Q13UNABLE,Q13TASKA,Q13TASKB,Q13TASKC,Q13SCORE,TOTAL13,DATE,SOURCE,update_stamp
0,ADNIGO,4,023_S_0376,376,17,m48,m48,2010-05-14,2010-06-02,2011-02-28,...,9.0,NaN,28.0,0.0,0.0,0.0,16.0,NaN,NaN,2012-11-16 09:32:21.0
1,ADNIGO,14,016_S_1117,1117,12,m36,m36,2010-06-24,2010-06-27,2011-02-28,...,24.0,NaN,5.0,0.0,0.0,4.0,38.0,NaN,NaN,2012-11-16 09:32:21.0
2,ADNIGO,16,016_S_1326,1326,12,m36,m36,2010-05-12,2010-06-28,2011-11-08,...,23.0,NaN,16.0,0.0,1.0,2.0,35.0,NaN,NaN,2012-11-16 09:32:21.0
3,ADNIGO,18,031_S_0618,618,21,m48,m48,2010-06-25,2010-06-28,2011-02-28,...,3.0,NaN,24.0,0.0,0.0,0.0,4.0,NaN,NaN,2012-11-16 09:32:21.0
4,ADNIGO,20,035_S_0292,292,24,m48,m48,2010-04-21,2010-06-30,2011-02-28,...,19.0,NaN,21.0,0.0,0.0,1.0,30.0,NaN,NaN,2012-11-16 09:32:21.0

In [5]:
# combine all df on ptid
df = pd.merge(adas_adni_df, adas_adnigo_df, on='PTID', how='outer')
df = pd.merge(df, adas_scores_df, on='PTID', how='outer')
df = pd.merge(df, adsxlist_df, on='PTID', how='outer')
df = pd.merge(df, bl_change_df, on='PTID', how='outer')
df = pd.merge(df, cbbcomp_df, on='PTID', how='outer')
df = pd.merge(df, cci_df, on='PTID', how='outer')
df = pd.merge(df, cdr_df, on='PTID', how='outer')
df = pd.merge(df, dxsum_pdxconv_df, on='PTID', how='outer')
df = pd.merge(df, eco_gpt_df, on='PTID', how='outer')
df = pd.merge(df, eco_gsp_df, on='PTID', how='outer')
df = pd.merge(df, fci_df, on='PTID', how='outer')
df = pd.merge(df, gd_scale_df, on='PTID', how='outer')
df = pd.merge(df, mmse_df, on='PTID', how='outer')
df = pd.merge(df, moca_df, on='PTID', how='outer')
df = pd.merge(df, modhach_df, on='PTID', how='outer')

MergeError: Passing 'suffixes' which cause duplicate columns {'USERDATE_x', 'ID_x', 'USERDATE2_x', 'SITEID_x', 'VISCODE_x', 'RID_x', 'update_stamp_x'} is not allowed.

In [6]:
df.head()

,Phase_x,ID_x,PTID,RID_x,SITEID_x,VISCODE_x,USERDATE_x,USERDATE2_x,EXAMDATE_x,COT1LIST,...,Q7,Q8,Q9,Q10,Q11,Q12,Q14,TOTAL11,TOTALMOD,update_stamp
0,ADNI1,4.0,011_S_0002,2.0,107.0,bl,2005-09-09,NaN,2005-09-08,1:2:7:8:9,...,0.0,9.0,0.0,0.0,0.0,0.0,3.0,12.00,20.00,2014-08-20 00:00:00.0
1,ADNI1,4.0,011_S_0002,2.0,107.0,bl,2005-09-09,NaN,2005-09-08,1:2:7:8:9,...,0.0,5.0,0.0,0.0,0.0,0.0,2.0,10.67,19.67,2014-08-20 00:00:00.0
2,ADNI1,4.0,011_S_0002,2.0,107.0,bl,2005-09-09,NaN,2005-09-08,1:2:7:8:9,...,0.0,7.0,0.0,0.0,0.0,0.0,3.0,10.67,18.67,2014-08-20 00:00:00.0
3,ADNI1,4.0,011_S_0002,2.0,107.0,bl,2005-09-09,NaN,2005-09-08,1:2:7:8:9,...,0.0,9.0,0.0,0.0,0.0,0.0,3.0,12.00,20.00,2014-08-20 00:00:00.0
4,ADNI1,4.0,011_S_0002,2.0,107.0,bl,2005-09-09,NaN,2005-09-08,1:2:7:8:9,...,0.0,5.0,0.0,0.0,0.0,0.0,2.0,10.67,19.67,2014-08-20 00:00:00.0